@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500;900&display=swap');
html,body{
    padding: 0;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}


.header{
    background-color: #000;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,1)),url(../images/hero.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 8rem;
    color: white;
    background-attachment: fixed;
}

.header h1{
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    color: #cececf;
}
.space{
    height:  40vh;
}
.boton-neon{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #cececf;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    -webkit-box-reflect: below 1 px linear-gradient(transparent,#0005);
    
}
.boton-neon:hover{
    background: #cececf;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 5px #cececf,
        0 0 25px #cececf, 0 0 50px #cececf;
}

.boton-neon span{
    position: absolute;
    display: block;
}

.boton-neon span:nth-child(1){
    top:0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg,transparent,#cececf);
    animation: neon1 2s linear infinite;
    
}

.boton-neon span:nth-child(2){
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#cececf);
    animation: neon2 2s linear infinite;
    animation-delay: 0.5s;
}

.boton-neon span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg,transparent,#cececf);
    animation: neon3 2s linear infinite;
    animation-delay: 1s;
}

.boton-neon span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#cececf);
    animation: neon4 2s linear infinite;
    animation-delay: 1.5s;
}

.boton-neon2{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    -webkit-box-reflect: below 1 px linear-gradient(transparent,#0005);
    
}
.boton-neon2:hover{
    background: #000;
    text-decoration: none;
    color: #cececf;
    box-shadow: 0 0 5px #000,
        0 0 25px #000, 0 0 50px #000;
}

.boton-neon2 span{
    position: absolute;
    display: block;
}

.boton-neon2 span:nth-child(1){
    top:0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg,transparent,#000);
    animation: neon1 2s linear infinite;
    
}

.boton-neon2 span:nth-child(2){
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#000);
    animation: neon2 2s linear infinite;
    animation-delay: 0.5s;
}

.boton-neon2 span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg,transparent,#000);
    animation: neon3 2s linear infinite;
    animation-delay: 1s;
}

.boton-neon2 span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#000);
    animation: neon4 2s linear infinite;
    animation-delay: 1.5s;
}
@keyframes neon1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
@keyframes neon2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
@keyframes neon3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
@keyframes neon4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
#cont{
    background-image: linear-gradient(rgba(127,127,127,0.5),rgba(0,0,0,1)),url(../images/bg.webp);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    height: 100vh;
}
#conocenos{
    background: rgba(255,255,255,0.03);
    margin: 30vh 0;
    border-radius: 15px;
}
#noticias{
   background: rgb(0, 0, 0);
            background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(49, 49, 51, 1) 35%, rgba(58, 58, 60, 1) 61%, rgba(0, 0, 0, 1) 100%);
    color: white;
    
    max-height: 100vh;
}
#login{
    background: rgb(0, 0, 0);
            background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(49, 49, 51, 1) 35%, rgba(58, 58, 60, 1) 61%, rgba(0, 0, 0, 1) 100%);
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:  linear-gradient(rgba(127,127,127,0.5),rgba(0,0,0,1)),url(../images/contact_bg.webp);
    background-size: cover;
}
.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h1{
    color: white;
}
.content p{
    color: silver;
}
.container{
    justify-content: center;
    align-items: center;
    display: flex;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: silver;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: white;
}
.contactForm h2{
    font-size: 30px;
    color: 333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: silver;
    font-size: 12px;
    transform: translateY(-20px);
}


@media(max-width:991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }
}
@media(max-width:768px){
    .navbar-collapse{
        background: rgba(0,0,0,0.8);
    }
}
@media(max-width:480px){
    .header h1{
        font-size: 3rem;
    }
    
    .header h2{
        font-size: 1.5rem;
    }
}